header{
    background-color: rgb(255, 255, 255);
    border: solid black;
    display: flex;
    justify-content: space-between;
    margin: 20px;
    padding: 20px;
    width: 100%;
    gap: 10px;
    margin-right: 20px;
}
image{
    width: 15px;
    height: 10px;
    max-width: 100%;
}
.gmbr{
    width: 50px;
    height: 50px;
}
a{
    display: flex;
}

.judul{
    border: solid black;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

#home{


    display: block;
    justify-content: center;
    justify-items: center;
    padding: 20px;
    margin: 20px;


}

#tujuan{
    display: block;
}
.trvl{
    background-color: rgb(255, 255, 255);
    border: solid black;
    margin: 0;
    padding: 0;
}
table{
    justify-content: center
    width: 100%;
}
footer{
    background-color: grey;
    justify-content: center;

    padding: 20px;
}
.ftr{
    justify-content: center
}
section{
    background-color: white;
    border: solid black;
    padding: 20px;
    margin: 20px;
}
nav{
    display: flex
}

ul{
    display: flex;
    gap: 30px;
    text-decoration: none;
    color: black;
}

li{ 
    display: flex
}

#tujuan{
    padding: 20px;
    margin: 20px;
    display: flex;
    text-decoration: none;
    padding: 20px;
    margin: 20px;
}
.pb{
    border: solid black;
    padding: 20px;
    margin: 20px;

}
.tjn{
    width: 100%;
    height: 100%;

}
table {
    width: 100%;
    justify-items: center;
}
td{
    justify-content: center;
    justify-items: center;
}
iframe{
    justify-content: center;
    justify-items: center;
    width: 1800px;
    height: 1200px;
}
.tjn{
    width: 10px;
    height: auto;
    display: flex;
    justify-content: space-between;
    inset-inline-start: initial;
}
.ftr{
    justify-content: center;
    justify-items: center;
    display: flex;
}